doctype
html(lang=ru)
	head
		include includes/head_common.pug
		script(src="/js/filter.js", type="text/javascript")

		style
			|	.no-records {
			|		text-align: center;
			|		padding-top: 50%;
			|	}
	body
		include includes/header.pug
		div.wrp
			div.main-page
				div.main-filter
					form
						p Я ищу
						select.prime-filter(size="1", id="type")
							if (locals.type === 'find-flat')
								option(value="find-flat", selected) Квартиру
								option(value="find-roommate") Румейта 
							else 
								option(value="find-flat") Квартиру
								option(value="find-roommate", selected) Румейта 
						p С кем Вы хотите снимать квартиру?
						select#user_sex.lower-filter
							option(value="") Не важно с кем
							option(value="женский") Только с девушками
							option(value="мужской") Только с парнями
						p Важен ли возраст Вашего соседа по комнате?
						select#user_age_range.lower-filter
							option(value="") Не важен
							option(value="18-25") 18-25
							option(value="18-30") 18-30
						p Нужен сосед с определенного ВУЗа?
						if locals.universities.length
							select#user_university.lower-filter
								for univer in locals.universities
									if univer.isSelected
										option(value=univer.id, selected)= univer.name
									else
										option(value=univer.id)= univer.name
						div#user_faculty_container(style="display: none;")
							p Нужен сосед с определенного факультета?
							select#user_faculty.lower-filter
								option(value="") Не выбран
						if locals.priorities
							for priority in locals.priorities
								p= priority.priority_name_full
								select.lower-filter.priority(id="priority-"+priority.priority_id, size="1")
									for option in priority.options
										if option.isSelected
											option(value=option.id, selected)= option.name
										else
											option(value=option.id)= option.name
						a.find-filter(id="btn-find", href="#") Найти
				div.listing
					div.mbl-view.clear-view
						input.mbl-filter(type="button", value="Фильтр румейтов")
					div.filter-top
						label Сортировать по:
							select#sortby
								option(value="1") Сходство со мной
								option(value="2") Дата регистрации
							select#sortby-priority
								option(value="1") По убыванию
								option(value="2") По возрастанию
							div(id="listing-content")
					a#load-more.load-more(href="#") Загрузить больше...
		include includes/footer.pug