doctype
html(lang=ru)
	head
		include includes/head_common.pug
		script(src="js/homepage.js", type="text/javascript")
	body
		include includes/header.pug
		div.wrp
			div.cover
				h2
					span Найди соседа по комнате за <span class="colored">3</span> дня!
				h3 Дешевле аренда - больше денег на себя!
			div.weoffer
				div.offer1
					div
						img(src="images/stud2.jpg", alt="Promo")
					h3 Живи с соседом из твоего ВУЗа
					p Для тех, кто уже снимает квартиру и не против жить с соседом, а может ищет нового.
					input.promo-btn#btn-enter-site-2(type="button", name="", value="Найти соседа")
				div.offer1
					div
						img(src="images/stud5.jpg", alt="Promo")
					h3 Найди жилье на период обучения
					p На сайте объявления только студентов местных ВУЗов. Бесплатно создай свое, чтобы найти румейта.
					input.promo-btn#btn-enter-site-3(type="button", name="", value="Найти квартиру")
				div.offer1
					div
						img(src="images/stud3.jpg", alt="Promo")
					h3 Есть квартира с мебелью?
					p У вас есть квартира с мебелью и вы хотите сдать ее? Мы поможем и возьмем все сложности на себя!
					input.promo-btn(type="button", name="", value="Скоро к услугам")
			div.alaska-features
				h2 Больше о поиске соседа (румейта)
				div
					h3 Фильтры
					p Ты сам ищешь подходящих румейтов, указывая такие параметры как: ВУЗ, наличие авто, домашние животные, активность и другие!
				div
					h3 Парни \ девушки
					p Если девушка укажет, что хочет снимать квартиру только с другими девушками, то ни один парень не увидит ее объявление!
				div
					h3 Безопасность
					p Пока ты не одобришь румейта на сайте, никто не сможет увидеть твои контакты и начать досаждать тебе! Мы за безопасность данных!
			if locals.lastRecordsWithFlat && locals.lastRecordsWithFlat.length
				div.roommate-cover
					h3 Последние добавленные румейты и квартиры
					h2 После открытия сайта, вы увидите все предложения
					
					for record in locals.lastRecordsWithFlat
						div.room-ex
							img(src=record.flat_first_photo)
							h5= record.flat_rent_pay + ' рублей'
							h4= record.flat_address
							-
								var sex = record.user_sex.substr(0, 1).toUpperCase();
							p= 'Сосед: ' + sex + ', ' + record.user_age + ', ' + record.university_name
			div.uni-cover
				h3 Популярные ВУЗЫ среди наших румейтов
				h4 в Ростове-на-Дону
				p РГЭУ РИНХ 
				p ЮФУ
				p ДГТУ 
				p РИИЖТ 
				p РИСИ 
				p ИУБИП 
			div.action
				h3 Мы открыты для диалога!
				h2 Если у Вас есть вопросы, Вы можете связаться с нами
				img(src="/images/email.jpg", style="margin-bottom: 35px")
		include includes/footer.pug