doctype
html(lang=ru)
	head
		include includes/head_common.pug
		script(src="js/homepage.js", type="text/javascript")
	body
		include includes/header.pug
		div.wrp
			div.front-info
				div.front-desc
					img(src="/images/logo1.png", alt="Logo")
					h2 AlaskaRoom - студенческая социальная сеть для поиска идеального соседа по квартире (румейта) или нового жилья рядом с ВУЗом.
				div.front-phone
					a#btn-find-roommate.front-menu(href="/auth/login_soc/2") Поиск румейта
					a#btn-find-flat(href="/auth/login_soc/1") Поиск жилья
					a#btn-go-campus(href="/auth/login_soc/3") Кампус500
					a#btn-enter-site(href="/auth/login_soc") Войти через ВК
			div.weoffer
				div.offer1
					div
						img(src="/images/stud2.jpg", alt="Promo")
					h3 Найди жилье или соседа по комнате
					p AlaskaRoom - это онлайн портал для студентов российских ВУЗов! Здесь каждый сможет найти своего идеального соседа по комнате или выбрать жилье близко к учебному заведению! Только студенты без посредников и риэлторов!
					input#btn-promo1.promo-btn(type="button", value="Найти")
				div.offer2
					div
						img(src="/images/kampus.jpg", alt="Promo")
					h3 Помочь с переездом и заработать
					p В Кампусе ты можешь найти других студентов, готовых помочь вам с переездом, или предложить свои услуги и заработать на этом.
					img.offer-img(src="/images/box.png", alt="Передержка вещей", title="Передержка вещей")
					img.offer-img(src="/images/couch1.png", alt="Ночевка в гостях", title="Ночевка в гостях")
					img.offer-img(src="/images/move.png", alt="Помощь с переездом", title="Помощь с переездом")
					img.offer-img(src="/images/pet.png", alt="Передержка животных", title="Передержка животных")
					input#btn-promo2.promo-btn(type="button", value="Мне интересно!")
			div.edu-close
				div
					h3 Живи ближе к ВУЗу
				h4 Подборка жилья около ВУЗа от AlaskaRoom
				p После регистрации на сайте, один раз в месяц ты будешь получать подборку нового жилья или румейтов, которые находятся ближе всего к учебному заведению. Также на сервисе ты сможешь быстро и дешево организовать переезд!
			div.alaska-features
				h2 Больше о поиске соседа (румейта)
				div
					h3 Фильтры
					p Ты сам ищешь подходящих румейтов, указывая такие параметры как: ВУЗ, наличие авто, домашние животные, активность и другие!
				div
					h3 Парни \ девушки
					p Если девушка укажет, что хочет снимать квартиру только с другими девушками, то ни один парень не увидит ее объявление!
				div
					h3 Безопасность
					p Пока ты не одобришь румейта на сайте, никто не сможет увидеть твои контакты и начать досаждать тебе! Мы за безопасность данных!
			if locals.lastRecordsWithFlat && locals.lastRecordsWithFlat.length
				div.roommate-cover
					h3 Последние добавленные румейты и квартиры
					h2 После открытия сайта, вы увидите все предложения
					
					for record in locals.lastRecordsWithFlat
						div.room-ex
							img(src=record.flat_first_photo)
							h5= record.flat_rent_pay + ' рублей'
							h4= record.flat_address
							-
								var sex = record.user_sex.substr(0, 1).toUpperCase();
								var info = sex + ', ' + record.user_age;
								if (record.university_name) {
									info += ', ' + record.university_name;
								}
							p= 'Сосед: ' + info
			div.uni-cover
				h3 Популярные ВУЗЫ среди наших румейтов
				h4 в Ростове-на-Дону
				p РГЭУ РИНХ 
				p ЮФУ
				p ДГТУ 
				p РИИЖТ 
				p РИСИ 
				p ИУБИП 
			div.action
				h3 Мы открыты для диалога!
				h2 Если у Вас есть вопросы, Вы можете связаться с нами
				img(src="/images/email.jpg", style="margin-bottom: 35px")
		include includes/footer.pug