doctype
html(lang=ru)
	head
		include includes/head_common.pug
		script(src="js/homepage.js", type="text/javascript")
	body
		include includes/header.pug
		div.wrp
			div.cover
				h2
					span Найди соседа по комнате за <span class="colored">3</span> дня!
				h3 Дешевле аренда - больше денег на себя!
				div
					img(src="images/step-3.jpg", alt="Cover")
					h3 Соседи из твоего ВУЗа
				div
					img(src="images/step-1.jpg", alt="Cover")
					h3 Делите стоимость аренды пополам
				div
					img(src="images/step-2.jpg", alt="Cover")
					h3 Наш сервис только для студентов
			
			div.cover-info
				div
					p 1
					h2 Идеальный сосед
					h3 Вы найдете соседа, который превзойдет все ваши ожидания;
				div
					p 2
					h2 Социальная жизнь
					h3 Обретайте новых друзей и отлично проводите время вместе;
				div
					p 3
					h2 Оплата пополам
					h3 Вы увидите, какую часть от аренды квартиры будете платить;
				div
					p 4
					h2 Вдали от родителей
					h3 Мечтали наконец съехать от родителей? Это ваш шанс начать самостоятельную жизнь;
				div
					p 5
					h2 Только студенты
					h3 На сайте размещаются только объявления студентов ВУЗов; вы сами блокируете спам;
				div
					p 6
					h2 Дальше больше
					h3 Скоро вы найдете на сайте не только соседа, но и предметы для обустройства квартиры;
			if locals.lastRecordsWithFlat && locals.lastRecordsWithFlat.length
				div.roommate-cover
					h3 Последние добавленные румейты и квартиры
					h2 После открытия сайта, вы увидите все предложения
					
					for record in locals.lastRecordsWithFlat
						div.room-ex
							img(src=record.flat_first_photo)
							h5= record.flat_rent_pay + ' рублей'
							h4= record.flat_address
							-
								var sex = record.user_sex.substr(0, 1).toUpperCase();
							p= 'Сосед: ' + sex + ', ' + record.user_age + ', ' + record.university_name
			div.uni-cover
				h3 Популярные ВУЗЫ среди наших румейтов
				h4 в Ростове-на-Дону
				p РГЭУ РИНХ 
				p ЮФУ
				p ДГТУ 
				p РИИЖТ 
				p РИСИ 
				p ИУБИП 
			div.register.action
				h3 Регистрация на сайте и вход в один клик
				a#enter-site-2.btn-enter-site-big(href="#") Войти
			div.action
				h3 Мы открыты для диалога!
				h2 Если у Вас есть вопросы, Вы можете связаться с нами
				img(src="/images/email.jpg", style="margin-bottom: 35px")
		include includes/footer.pug