doctype
html(lang=ru)
	head
		include includes/head_common.pug
		script(src="/js/post.js", type="text/javascript")
	body
		include includes/header.pug
		div.wrp
			div.advert
				h2 Привет, Влад! Расскажи немного о себе:
				div.adv-user
					img.user-photo(src="/images/photo.jpg", alt="User photo")
					div.user-info
						a(href="#") РЕДАКТИРОВАТЬ
						p Имя: 
							span Владилен 
						p Год рождения:
							span 10.10.2010 
						p Город:
							span Ростов-на-Дону
						p Университет:
							span ЮФУ
						p Факультет:
							span Регионоведение 
						p Телефон:
							span
					div.look-for
						h2 Я ИЩУ
						- 	
						if locals.type === 'roommate'
							button#btn-find-roommate.selected Румейта
							p или
							button#btn-find-flat Квартиру
						else
							button#btn-find-roommate Румейта
							p или
							button#btn-find-flat.selected Квартиру
					div.room-info
						h2 ИНФО О КВАРТИРЕ
						textarea(id="description", placeholder="Описание квартиры")
						input.small-input(type="text", id="address", placeholder="Адрес")
						input.small-input(type="text", id="square", placeholder="Площадь")
						input.small-input(type="text", id="room_num", placeholder="кол-во комнат")
						input.regular-input(type="text", id="traffic", placeholder="Общественный транспорт")
					div.conditions
						h2 СТОИМОСТЬ И УСЛОВИЯ ПРОЖИВАНИЯ
						input.small-input(type="text", id="rent_pay", placeholder="Плата румейта")
						input.small-input(type="text", id="flat_total_pay", placeholder="Общая аренда")
						input.small-input(type="text", id="enter_date", placeholder="Дата въезда")
						if locals.userSex
							select.option-input(size="1", id="user_sex")
								each use_sex in locals.userSex
									if use_sex.selected
										option(value=use_sex.value, selected)= use_sex.name 
									else
										option(value=use_sex.value)= use_sex.name 
						p С КЕМ ВЫ ХОТИТЕ СНИМАТЬ КВАРТИРУ?
						if locals.userAge
							select.option-input(size="1", id="user_age_range")
								each userAge in locals.userAge
									if userAge.selected
										option(value=userAge.value, selected)= userAge.name 
									else
										option(value=userAge.value)= userAge.name 
						p ВАЖЕН ЛИ ВОЗРАСТ?
						if locals.userSocialActivity
							select.option-input(size="1", id="user_activity")
								each userActivity in locals.userSocialActivity
									if userActivity.selected
										option(value=userActivity.value, selected)= userActivity.name 
									else
										option(value=userActivity.value)= userActivity.name 
						p СОЦИАЛЬНАЯ АКТИВНОСТЬ?
						if locals.userHabbits
							select.option-input(size="1", id="user_badhabbits")
								each userHabbits in locals.userHabbits
									if userHabbits.selected
										option(value=userHabbits.value, selected)= userHabbits.name 
									else
										option(value=userHabbits.value)= userHabbits.name 
						p ВРЕДНЫЕ ПРИВЫЧКИ?
						if locals.userPets
							select.option-input(size="1", id="user_pets")
								each userPets in locals.userPets
									if userPets.selected
										option(value=userPets.value, selected)= userPets.name 
									else
										option(value=userPets.value)= userPets.name 
						p ДОМАШНИЕ ЖИВОТНЫЕ?
						if locals.userCar
							select.option-input(size="1", id="user_car")
								each userCar in locals.userCar
									if userCar.selected
										option(value=userCar.value, selected)= userCar.name 
									else
										option(value=userCar.value)= userCar.name 
						p НАЛИЧИЕ МАШИНЫ?
						if locals.userUniver
							select.option-input(size="1", id="user_university")
								each userUniver in locals.userUniver
									if userUniver.selected
										option(value=userUniver.value, selected)= userUniver.name 
									else
										option(value=userUniver.value)= userUniver.name 
						p НУЖЕН СОСЕД С ОПРЕДЕЛЕННОГО ВУЗА?
						if locals.userSuccess
							select.option-input(size="1", id="user_success")
								each userSuccess in locals.userSuccess
									if userSuccess.selected
										option(value=userSuccess.value, selected)= userSuccess.name 
									else
										option(value=userSuccess.value)= userSuccess.name 
						p ВАЖНА ЛИ УСПЕВАЕМОСТЬ СТУДЕНТА?
						if locals.flatUtility
							div.utilities
								h2 УДОБСТВА В КВАРТИРЕ
									each utility in locals.flatUtility
										label
											input(type="checkbox", value=utility.value)
											span= utility.name
						if locals.flatPhoto
							div.room-photos
								h2 ЗАГРУЗИТЕ ФОТО КВАРТИРЫ
									each photo in locals.flatPhoto
										img.room-pic(src=photo.src, alt="Room photo")
					div.utilities
						h2 УДОБСТВА В КВАРТИРЕ
						label
							input(id="util_conditioner", type="checkbox")
							span Кондиционер
						label
							input(id="util_coffee", type="checkbox")
							span Кофемашина
						label
							input(id="util_parking", type="checkbox")
							span Парковка
						label
							input(id="util_microwave", type="checkbox")
							span Микроволновка
						label
							input(id="util_internet", type="checkbox")
							span Интернет
					div.room-photos
						h2 ЗАГРУЗИТЕ ФОТО КВАРТИРЫ
						img.room-pic(src="/images/room.jpg", alt="Room photo")
						img.room-pic(src="/images/room.jpg", alt="Room photo")
						img.room-pic(src="/images/room.jpg", alt="Room photo")
						img.room-pic(src="/images/room.jpg", alt="Room photo")
						img.room-pic(src="/images/room.jpg", alt="Room photo")
						img.room-pic(src="/images/room.jpg", alt="Room photo")
					input.add-ad(type="button", id="btn-add-post", value="Добавить объявление")
					input(type="hidden", id="type", value='find-'+locals.type)
		include includes/footer.pug
		include includes/message_popup.pug