doctype
html(lang=ru)
	head
		include includes/head_common.pug
		script(src="/js/post.js", type="text/javascript")
	body
		include includes/header.pug
		div.wrp
			div.main-page
				div.main-filter
					form
						p Я ищу
						if locals.postType
							select.prime-filter(size="1", id="type")
								each type in locals.postType
									if type.selected
										option(value=type.value, selected)= type.name 
									else
										option(value=type.value)= type.name 
						p С кем вы хотите снимать квартиру?
						if locals.userSex
							select.lower-filter(size="1", id="user_sex")
								each use_sex in locals.userSex
									if use_sex.selected
										option(value=use_sex.value, selected)= use_sex.name 
									else
										option(value=use_sex.value)= use_sex.name 
						p Важен ли возраст?
						if locals.userAge
							select.lower-filter(size="1", id="user_age_range")
								each userAge in locals.userAge
									if userAge.selected
										option(value=userAge.value, selected)= userAge.name 
									else
										option(value=userAge.value)= userAge.name 
						p Социальная активность?
						if locals.userSocialActivity
							select.lower-filter(size="1", id="user_activity")
								each userActivity in locals.userSocialActivity
									if userActivity.selected
										option(value=userActivity.value, selected)= userActivity.name 
									else
										option(value=userActivity.value)= userActivity.name 
						p Вредные привычки?
						if locals.userHabbits
							select.lower-filter(size="1", id="user_badhabbits")
								each userHabbits in locals.userHabbits
									if userHabbits.selected
										option(value=userHabbits.value, selected)= userHabbits.name 
									else
										option(value=userHabbits.value)= userHabbits.name 
						p Домашние животные?
						if locals.userPets
							select.lower-filter(size="1", id="user_pets")
								each userPets in locals.userPets
									if userPets.selected
										option(value=userPets.value, selected)= userPets.name 
									else
										option(value=userPets.value)= userPets.name 
						p Наличие машины?
						if locals.userCar
							select.lower-filter(size="1", id="user_car")
								each userCar in locals.userCar
									if userCar.selected
										option(value=userCar.value, selected)= userCar.name 
									else
										option(value=userCar.value)= userCar.name 
						p Нужен сосед с определенного вуза?
						if locals.userUniver
							select.lower-filter(size="1", id="user_university")
								each userUniver in locals.userUniver
									if userUniver.selected
										option(value=userUniver.value, selected)= userUniver.name 
									else
										option(value=userUniver.value)= userUniver.name 
						p Важна ли успеваемость студента?
						if locals.userSuccess
							select.lower-filter(size="1", id="user_success")
								each userSuccess in locals.userSuccess
									if userSuccess.selected
										option(value=userSuccess.value, selected)= userSuccess.name 
									else
										option(value=userSuccess.value)= userSuccess.name
						a.find-filter(id="btn-find-post", href="#") Найти
				if locals.records
					div.listing
						div(id="listing-content")
							for record in records
								if record.type === 'find-roommate'
									div.room-list
										img(src=record.src_small, alt="Room")
										h5=record.rent_pay
											span  рублей
										h4 
											span= record.city+',' 
											span= record.address
										p Сосед: 
											span= record.sex+', '
											span= record.age+', '
											span= record.university
								else if record.type === 'find-flat'
									div.user-list
										img(src=record.avatar, alt="User")
										h4= record.user_name
										p Ваш сосед: 
											span= record.sex+', '
											span= record.age+', '
											span= record.university
						img#progress
						a.load-more(href="#") Загрузить больше...
				else
					div.listing
						div(id="listing-content")
							div.nobody Ничего не найдено
						img#progress

		include includes/footer.pug