doctype
html(lang=ru)
	head
		include includes/head_common.pug
		script(src="/js/profile.js", type="text/javascript")
		link(href="/css/profile.css", type="text/css", rel="stylesheet")

		<!-- lightbox (Magnific popup) -->
		link(type="text/css", rel="stylesheet", href="/lib/magnific-popup/magnific_popup.css")
		script(src="/lib/magnific-popup/magnific_popup.js")
	body
		include includes/header.pug
		div.wrp
			include includes/messages.pug
			div.roommate-header
				h6 О румейте
			div.profile-user
				img(src=locals.data.user_avatar, alt="User")
				h3= locals.data.user_name
				-
					var caption = locals.data.user_age + ' год';
					if (locals.data.university_name) {
						caption += ', ' + locals.data.university_name;
					}
					if (locals.data.faculty_name) {
						caption += ', ' + locals.data.faculty_name;
					}
				p= caption
				if locals.user_phone
					div.user-phone= 'Кампус500. Телефон для связи: ' + locals.user_phone
				if locals.data.user_id != locals.userId
					if locals.status_sended === 'pending'
						p.roommate-status= 'Соседство: в ожидании ответа от пользователя ' + locals.data.user_first_name
							span  &#x029D6;
					else if locals.status_sended === 'accepted'
						p.roommate-status= 'Соседство: пользователь ' + locals.data.user_first_name + ' согласен'
							span  &check;
					else if locals.status_sended === 'declined'
						p.roommate-status= 'Соседство: пользователь ' + locals.data.user_first_name + ' отказался от соседства'
							span  &cross;
					else if !locals.status_incoming
						input#request-roommate.request-info(type="button", value="Предложить соседство")
					else if locals.status_incoming
						p.roommate-status= 'Соседство: пользователь ' + locals.data.user_first_name + ' отправил Вам заявку на соседство'
					input#request-complain.complain(type="button", value="Жалоба на румейта")
			div.profile-param
				div.user-desc
					h3 Обо мне
					p= locals.data.user_about
				div.user-caracter
					div.caracter
						h4 Пол
						p= locals.data.user_sex
					div.caracter
						h4 Город
						p= locals.data.user_city
					div.caracter
						h4 ВУЗ
						p= locals.data.university_name
					div.caracter
						h4 Факультет
						p= locals.data.faculty_name
					div.caracter
						h4 Кафедра/Направление
						p= locals.data.department_name
					div.caracter
						h4 Курс
						p= locals.data.studyyear_name
					for priority in locals.priorities 
						div.caracter
							h4= priority.priority_name_full
							p= priority.option_name
					div.caracter
						h4 Сколько плачу \ готов платить?
						p= locals.data.user_wish_pay
				if locals.data.user_id == locals.userId
					p.edit-user Хотите отредактировать информацию о себе?
						a#btn-edit-user-info(href="#") Нажмите тут
			if locals.data.flat_id
				div.room-header
					h6 О квартире \ комнате
				div.room-post
					div.room-main
						h3= locals.data.flat_address + ', ' + locals.data.flat_room_num + '-к квартира, ' + locals.data.flat_square
						- 
							var counter = 0;
						if locals.photos
							div.photos
								for photo in locals.photos
									if (counter == 0)
										img.big-pic(src=photo.src_orig, alt="Room pic")
									else
										a(href=photo.src_orig)
											img.small-pic(src=photo.src_small, alt="Room pic")
									-
										counter++;
					div.room-desc
						if locals.data.flat_description
							h3 Описание квартиры
							p= locals.data.flat_description
						if locals.data.flat_traffic
							h3 Ближайший транспорт
							p= locals.data.flat_traffic
				div.room-param
					p Общая стоимость аренды
					h3= locals.data.flat_total_pay + ' руб'
				div.room-param
					p Сколько платит румейт?
					h3= locals.data.flat_rent_pay + ' руб'
				div.room-param
					p Когда можно заежать?
					h3= locals.data.flat_enter_date
				div.room-param
					p Площадь жилья?
					h3= locals.data.flat_square
				div.room-param
					p Сколько комнат?
					h3= locals.data.flat_room_num
				if locals.utilities && locals.utilities.length
					div.room-param
						p Удобства
						for util in locals.utilities
							h4= util.display_name
		
		include includes/footer.pug

		input(type="hidden", id="user_id", value=locals.data.user_id)
		input(type="hidden", id="user_first_name", value=locals.data.user_first_name)
		
		link(href="/css/message_popup.css", type="text/css", rel="stylesheet")
		div#popup-window
			div.popup-layout
				div.popup-container.popup-container-medium
					div.popup-header
						div.popup-close закрыть
					div.popup-content.complain-form
