doctype
html(lang=ru)
	head
		include includes/head_common.pug
		
		script(src="/lib/jquery-ui-datepicker/jquery-ui.min.js")
		link(href="/lib/jquery-ui-datepicker/jquery-ui.min.css", type="text/css", rel="stylesheet")
		script(src="/lib/jquery-maskedinput/maskedinput.min.js")

		script(src="/js/profile.js", type="text/javascript")
		link(href="/css/profile.css", type="text/css", rel="stylesheet")
		
	body
		include includes/header.pug
		
		div.wrp
			div.roommate-header
				h6 Пару слов о Вас
			div.profile-user
				div#avatar-container
					img#user_avatar_1(src=locals.data.user_avatar, alt="User")
					input#user_avatar_2(type="file", accept=".jpg, .png, .gif")
					div#upload-icon
				h3= locals.data.user_name
				p= locals.data.user_age + ' год, ' + locals.data.user_university + ', ' + locals.data.user_faculty
			div.profile-param
				div.user-desc
					h3 Обо мне
					textarea#user_about(placeholder="Напишите тут несколько предложений о себе ...")= locals.data.user_about
				div.user-setting.info
					input(type="hidden", id="user_id", value=locals.data.user_id)
					div
						p Ваше имя
						input#user_first_name.option-set-small(type="text", placeholer="Ваше имя", value=locals.data.user_first_name)
					div
						p Ваша фамилия
						input#user_last_name.option-set-small(type="text", placeholer="Ваша фамилия", value=locals.data.user_last_name)
					div
						p Ваш пол
						select#user_sex.option-set
							if locals.data.user_sex === 'мужской'
								option(id='женский') женский
								option(id='мужской', selected) мужской
							else
								option(id='женский', selected) женский
								option(id='мужской') мужской
					div
						p Дата Вашего рождения
						input#user_birth_date.option-set-small(type="text", placeholer="Дата Вашего рождения", value=locals.data.user_birth_date)
					div
						p Номер Вашего мобильного
						input#user_phone.option-set-small(type="text", placeholer="Номер Вашего мобильного", value=locals.data.user_phone)
					div
						p Ваш email
						input#user_email.option-set-small(type="text", placeholer="Ваш email", value=locals.data.user_email)
					div
						p Город вашего ВУЗа
						input#user_city.option-set-small(type="text", placeholer="Город вашего ВУЗа", value=locals.data.user_city)
					div
						p Название вашего ВУЗа
						input#user_university.option-set-small(type="text", placeholer="Название вашего ВУЗа", value=locals.data.user_university)
					div
						p Ваш факультет
						input#user_faculty.option-set-small(type="text", placeholer="Ваш факультет", value=locals.data.user_faculty)
					div
						p Ваше направление
						input#user_speciality.option-set-small(type="text", placeholer="Ваша специальность", value=locals.data.user_speciality)
					div
						p Ваш курс
						input#user_study_year.option-set-small(type="text", placeholer="Ваш курс", value=locals.data.user_study_year)
				div.user-setting.priorities
					if locals.priorities
						for priority in locals.priorities
							div
								p= priority.priority_name_full
								select.option-set.priority(id="priority-"+priority.priority_id, size="1")
									for option in priority.options
										if option.isSelected
											option(value=option.id, selected)= option.name
										else
											option(value=option.id)= option.name
					if !locals.data.flat_id && locals.data.wish_pay
						div
							p Сколько Вы готовы платить за аренду?
							input.option-set-small(type="text", placeholder="Плата румейта", value=locals.data.wish_pay)
				if !locals.data.flat_id
					p.add-room У вас есть квартира и вы ищите соседа?
						a#btn-showflat(href="#") Рассказать про квартиру и условия
			-
				var flatDisplay = (locals.data.flat_id) ? 'display:block' : 'display:none'
			div.room-info.roommate-header(style=flatDisplay)
				h6 Описание квартиры
			div.room-info.room-photos(style=flatDisplay)
				if locals.photos
					for photo in locals.photos
						div(id='flat-photo-'+photo.id)
							img(src=photo.src_small, alt="Room photo")
							a(href="#") Удалить
				div(style="position: relative")
					img#btn-photo-add(src="/images/add_photo_200_x_133.png", alt="Загрузить фотографии", title="Загрузить фотографии")
					input#files(type="file", accept=".jpg, .png, .gif")
			
			div.room-info.profile-param(style=flatDisplay)
				div.user-desc
					textarea#flat_description(placeholder="Напишите тут несколько предложений о квартире ...")= locals.data.flat_description
					if locals.data.flat_id
						input#flat_id(type="hidden", value=locals.data.flat_id)
					else
						input#flat_id(type="hidden", value="")
				div.user-setting
					input#flat_address.option-set-big(type="text", placeholder="Адрес квартиры", value=locals.data.flat_address)
					div
						input#flat_square.option-set-small(type="text", placeholder="Площадь квартиры", value=locals.data.flat_square)
					div
						input#flat_room_num.option-set-small(type="text", placeholder="Количество комнат", value=locals.data.flat_room_num)
					div
						input#flat_traffic.option-set-small(type="text", placeholder="Ближайший транспорт", value=locals.data.flat_traffic)
					div
						input#flat_total_pay.option-set-small(type="text", placeholder="Общая аренда, руб", value=locals.data.flat_total_pay)
					div
						input#flat_rent_pay.option-set-small(type="text", placeholder="Плата для соседа, руб", value=locals.data.flat_rent_pay)
					div
						input#flat_enter_date.option-set-small(type="text", placeholder="Дата въезда", value=locals.data.flat_enter_date)
				div#utility.user-setting
					if locals.utilities
						for utility in locals.utilities
							label= utility.name
								if utility.isChecked
									input(type="checkbox", value=utility.id, checked)
								else
									input(type="checkbox", value=utility.id)
			input#btn-saveall.final-ad(type="button", value="Сохранить объявление")
		include includes/footer.pug