doctype
html(lang=ru)
	head
		include includes/head_common.pug
		
		script(src="/lib/jquery-ui-datepicker/jquery-ui.min.js")
		link(href="/lib/jquery-ui-datepicker/jquery-ui.min.css", type="text/css", rel="stylesheet")
		script(src="/lib/jquery-maskedinput/maskedinput.min.js")

		script(src="/js/profile.js", type="text/javascript")
		link(href="/css/profile.css", type="text/css", rel="stylesheet")
		
		style
			| .room-info {display:none;}
			| .final-ad {clear:both;}
	body
		include includes/header.pug
		
		div.wrp
			div.roommate-header
				h6 Пару слов о Вас
			div.profile-user
				img#user_avatar_1(src=locals.data.user_avatar, alt="User")
				input#user_avatar_2(type="file", accept=".jpg, .png, .gif")
				h3= locals.data.user_name
				p= locals.data.user_age + ' год, ' + locals.data.user_university + ', ' + locals.data.user_faculty
			div.profile-param
				div.user-desc
					h3 Обо мне
					textarea#user_about(placeholder="Напишите тут несколько предложений о себе ...")= locals.data.user_about
				div.user-setting.info
					input(type="hidden", id="user_id", value=locals.data.user_id)
					div
						p Ваше имя
						input#user_first_name(type="text", placeholer="Ваше имя", value=locals.data.user_first_name)
					div
						p Ваша фамилия
						input#user_last_name(type="text", placeholer="Ваша фамилия", value=locals.data.user_last_name)
					div
						p Ваш пол
						select#user_sex
							if locals.data.user_sex === 'мужской'
								option(id='женский') женский
								option(id='мужской', selected) мужской
							else
								option(id='женский', selected) женский
								option(id='мужской') мужской
					div
						p Дата Вашего рождения
						input#user_birth_date(type="text", placeholer="Дата Вашего рождения", value=locals.data.user_birth_date)
					div
						p Номер Вашего мобильного
						input#user_phone(type="text", placeholer="Номер Вашего мобильного", value=locals.data.user_phone)
					div
						p Ваш email
						input#user_email(type="text", placeholer="Ваш email", value=locals.data.user_email)
					div
						p Страна вашего ВУЗа
						input#user_city(type="text", placeholer="Страна вашего ВУЗа", value=locals.data.user_city)
					div
						p Название вашего ВУЗа
						input#user_university(type="text", placeholer="Название вашего ВУЗа", value=locals.data.user_university)
					div
						p Ваш факультет
						input#user_faculty(type="text", placeholer="Ваш факультет", value=locals.data.user_faculty)
					div
						p Ваше направление
						input#user_speciality(type="text", placeholer="Ваша специальность", value=locals.data.user_speciality)
					div
						p Ваш курс
						input#user_study_year(type="text", placeholer="Ваш курс", value=locals.data.user_study_year)
				div.user-setting
					if locals.priorities
						for priority in locals.priorities
							div
								p= priority.priority_name_full
								select.option-set(id="priority-"+priority.priority_id, size="1")
									for option in priority.options
										if option.isSelected
											option(value=option.id, selected)= option.name
										else
											option(value=option.id)= option.name
					if !locals.data.flat_id && locals.data.wish_pay
						div
							p Сколько Вы готовы платить за аренду?
							input.option-set-small(type="text", placeholder="Плата румейта", value=locals.data.wish_pay)
				p.add-room У вас есть квартира и вы ищите соседа?
					a#btn-showflat(href="#") Рассказать про квартиру и условия
			div.room-info.roommate-header
				h6 Описание квартиры
			div.room-info.room-photos
				if locals.photos
					for photo in locals.photos
						div(id=photo.id)
							img(src=photo.src, alt="Room photo")
							a(href="#") Удалить
			div.room-info.profile-param
				div.user-desc
					textarea(placeholder="Напишите тут несколько предложений о квартире ...")
				div.user-setting
					input.option-set-big(type="text", placeholder="Адрес квартиры")
					div
						input.option-set-small(type="text", placeholder="Площадь квартиры")
					div
						input.option-set-small(type="text", placeholder="Количество комнат")
					div
						input.option-set-small(type="text", placeholder="Ближайший транспорт")
					div
						input.option-set-small(type="text", placeholder="Общая аренда, руб")
					div
						input.option-set-small(type="text", placeholder="Плата для соседа, руб")
					div
						input.option-set-small(type="text", placeholder="Дата въезда")
				div.user-setting
					if locals.utilities
						for utility in locals.utilities
							label= utility.name
								input(type="checkbox", value=utility.id)
			input#btn-saveall.final-ad(type="button", value="Сохранить объявление")
		include includes/footer.pug
		include includes/message_popup.pug